*{
    margin: 0;
    padding: 0;
}

/*image*/
.leaf1{
    height: 30px;
    width: 40px;
    float: left;
}
.leaf2{
    height: 30px;
    width: 40px;
    float: left;
}

h1{
    float: left;
}

html, body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #2E8B57;
    width: 100%;
    height: 100%;
}

.grid{
    min-height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr; /*can have auto, 20%, or 200px*/
    grid-template-rows: auto 1fr;
    grid-template-areas: 
    "header header"
    "tabs tabs";
    grid-gap: 20px; /*puts space between the grid sections*/
    margin: 20px; /*puts space on outside edges*/
}

.header{
    display: flex;
    justify-content: center;
    background-color: #B2D732;
    grid-area: header;
    /*text-align: center;*/
    padding: 20px;
}

.tabs{
    display: grid;
    min-height: 100%;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr;/*was auto*/
    grid-template-areas: 
    "sidebar content";
    grid-gap: 20px;
    grid-area: tabs;
}

.tabs__sidebar{
    background-color: #110934;
    grid-area: sidebar;
    /*padding: 20px;separates button from background*/
}
.tabs__button {
    display: block;
    border: none;
    padding: 10px 40px;/*was 20 instead of 40*/
    width: 100%;
    /*background-color: #B2D732;*/
    background-color: #110934;
    font-size: 20px;
    color:#ffffff;
    
}
.tabs__button:hover{background-color: #7c7b80;}/*#797299*/
/*.tabs__button:focus{background-color: #00530e;}/*#ec9a00;*/
.tabs__button:not(:last-of-type) {
    border-bottom: 1px solid #ffffff;
}

.content{
    background-color: #F0F7D4;
    grid-area: content;
    padding: 40px;
    width: 1fr;
    /*min-width: 100%;*/
}
.tabs__content {
    display: none;
}
.tabs__content--active{
    display: block;/*was block*/
    min-width: 100%;
}

.submit{
    display: block;
    border: none;
    padding: 5px 20px;
    background-color: #2E8B57;
    font-size: 15px;
    color: #F0F7D4;
    margin: 15px 0px 0px 0px;
}
.submit:hover{
    background-color: rgb(25, 75, 46);
}

.pin_conf {
    display: grid;
    min-height: 100%;
    min-width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: 
    "not_used"
    "temp"
    "light"
    "humidity";
    grid-gap: 0px; /*was 20px when dropzones on their own*/
    margin: 0px 0px 20px 0px;/*was 15px in first and third section*/
}

.notUsedPins{
    grid-area: not_used;
}
.tempPins{
    grid-area: temp;
}
.lightPins{
    grid-area: light;
}
.humidityPins{
    grid-area: humidity;
}

.draggable {
    width: 100px;
    height: 20px;
    /*display: flex;
    flex-wrap: wrap;*/
    padding: 1px 10px;
    text-align: center;
    background: #BCBCF6;/*white;#BCBCF6*/
    margin: 5px;
}

.dropzone {
    /*might use grid here*/
    /*width: 1fr; /*was 200px*/
    /*height: 200px;*/
    background: #A1A1F2;/*blueviolet;#A1A1F2*/
    display: flex;
    flex-wrap: wrap;
    /*justify-content: space-around;*/
    /*margin-bottom: 10px;*/
    padding: 20px;
}

h3{
      margin-top: 20px;
      font-weight: normal;
      font-size: larger;
}

button:focus{
    outline:none;
}

/*Other buttons*/
.DataSel{
    display: block;
    border: none;
    padding: 5px 20px;
    background-color: #361d9b;
    font-size: 15px;
    color: #F0F7D4;
    margin: 15px 0px 0px 0px;
}
.DataSel:hover{background-color: #180d44;}
.getPie{
    display: block;
    border: none;
    padding: 5px 20px;
    background-color: #d13525;
    font-size: 15px;
    color: #F0F7D4;
    margin: 15px 0px 0px 0px;
}
.getPie:hover{background-color: #681b13;}
  /*Radio button appearance*/
  /*input{
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;
  }

  .checkmark{
      position: absolute;
      top: 0;
      left: 0;
      height: 15px;
      width: 15px;
      background-color: #eee;
      border-radius: 50%;
  }
  input:hover input ~.checkmark{
    background-color: darkgreen;
  }
  .checkmark:after{
      content: "";
      position: absolute;
      display: none;
  }
  input:checked ~ .checkmark:after{
      display: block;
  }
  .checkmark:after{
      top: 9px;
      left: 9px;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: white;
  }*/

/*.grid div:nth-child(even){
    background-color: red;
}

.grid div:nth-child(odd){
    background-color: green;
}*/
