/*Styling for the new window items*/
.getFilePath{
    display: block;
    border: none;
    padding: 5px 20px;
    background-color: rgb(46, 138, 141);
    font-size: 15px;
    color: rgb(255, 255, 255);/*#F0F7D4*/
    margin: 15px 0px 0px 0px;
}
.getFilePath:hover{background-color: rgb(23, 68, 70);}