body{
  font-family: 'Exo 2', sans-serif;
}


#pdf {
  position: absolute;
  top: 240px;
  left: 260px;
  display: block;
}

#menu {
  position: fixed;
  width: 240px;
  overflow-y: scroll;
  left: 0;
  top: 80px;
  bottom: 0px;
  background-color: rgb(44, 55, 61);
}

#menu::-webkit-scrollbar {
  width: 0;
}

#menu a {
  background-color: rgb(44, 55, 61);
  opacity: 0.85;
  border: 1px solid rgb(34, 45, 51);
  border-left-style: hidden;
  border-right-style: hidden;
  color: white;
  display: block;
  padding: 12px;
  font-size: 18px;
  text-decoration: none;
  text-align: center;
}

#menu a:hover {
  background-color: rgb(240, 83, 43);
  opacity: 1;
}

#menu .inactive {
  background-color: rgb(44, 55, 61);
  opacity: 0.85;
  border: 1px solid rgb(34, 45, 51);
  border-left-style: hidden;
  border-right-style: hidden;
  color: white;
  display: block;
  padding: 12px;
  font-size: 18px;
  text-decoration: none;
  text-align: center;
}

#menu .active {
  background-color: rgb(240, 83, 43);
  opacity: 1;
  border: 1px solid rgb(34, 45, 51);
  border-left-style: hidden;
  border-right-style: hidden;
  color: white;
  display: block;
  padding: 12px;
  font-size: 18px;
  text-decoration: none;
  text-align: center;
}

#clearButton {
  position: fixed;
  right: 15px;
  bottom: 255px;
  border-radius: 5px;
  background-color: rgb(243, 110, 33);
  color: white;
  font-size: 14px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-weight: bold;
  height: 35px;
  width: 100px;
  border-radius: 8px;
}

#clearButton:hover {
  background-color: rgb(240, 83, 43);
}

#retInfoLabel {
  position: fixed;
  left: 240px;
  bottom: 183px;
  right: 0px;
  height: 50px;
  font-weight: bold;
  font-size: 20px;
  background: rgb(0, 0, 0);
  color: white;
  text-align: center;
  padding-top: 5px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  border-left-style: hidden;
  border-right-style: hidden;
}

#returnInfo {
  left: 240px;
  right: 0px;
  height: 200px;
  bottom: 0px;
  border-style: solid;
  border-width: 0px;
  background: rgb(30, 30, 30);
  font-size: 16px;
  color: rgb(255, 255, 255);
  text-align: left;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  font-weight: normal;
  overflow-y: scroll;
}

#returnInfo::-webkit-scrollbar {
  width: 0;
}

#runbutton {
  width: 100px;
  height: 35px;
  background-color: rgb(42, 62, 238);
  position: absolute;
  font-size: 18px;
  font-weight: bold;
  color: white;
  text-align: center;
  right: 15px;
  bottom: 430px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  border-radius: 8px;
}

#runbutton:hover {
  background-color: blue;
}

#runbutton:disabled {
  background-color: grey;
}

#greet {
  position: absolute;
  background-color: rgb(21, 74, 142);
  color: aliceblue;
  top: 0;
  left: 0px;
  width: 100%;
  height: 80px;
  border-bottom-style: hidden;
  border-bottom-color: grey;
  z-index: 1;
}

#sstname {
  padding-left: 12px;
}
#sstname:hover {
  cursor: pointer;
}

#runWindowLabel {
  position: fixed;
  bottom: 280px;
  left: 240px;
  right: 0px;
  height: 50px;
  font-weight: bold;
  font-size: 20px;
  background: rgb(240, 83, 43);
  color: white;
  text-align: center;
  padding-top: 5px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  border-left-style: hidden;
  border-right-style: hidden;
}

#runWindowInfo {
  height: 60px;
  left: 240px;
  right: 0px;
  border-style: solid;
  border-width: 0px;
  border-color: rgb(80, 80, 200);
  font-size: 16px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  background: rgb(251, 218, 135);
  color: black;
  font-weight: bold;
  text-align: left;
}

#paramWindowLabel {
  position: absolute;
  top: 80px;
  left: 240px;
  right: 245px;
  height: 25px;
  font-weight: bold;
  font-size: 18px;
  background: rgb(240, 83, 43);
  color: white;
  text-align: center;
  padding-top: 5px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#paramWindowInfo {
  position: fixed;
  top: 110px;
  bottom: 335px;
  left: 240px;
  right: 245px;
  border-style: solid;
  border-left-style: hidden;
  font-weight: bold;
  border-right-style: hidden;
  border-width: 0px;
  border-color: rgb(0, 0, 0);
  background: rgb(255, 249, 226);
  font-size: 20px;
  color: black;
  text-align: left;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  font-weight: normal;
  overflow-y: scroll;
  /* border-bottom: 5px solid rgb(203,202,200);
    border-bottom-right-radius: 8px; */
}

#paramWindowInfo::-webkit-scrollbar {
  width: 0;
}

#required {
  position: absolute;
  right: 0;
  height: 100%;
  width: 240px;
  border-width: 5px;
  border-color: rgb(251, 218, 135);
  border-left-style: solid;
  top: 60px;
  font-weight: bold;
  font-size: 20px;
  /* color: rgb(21,74,142);  */
  color: rgb(240, 83, 43);
  background-color: rgb(250, 237, 194);
}
#reqLabel {
  position: absolute;
  text-align: center;
  top: 0px;
  left: 0px;
  right: 0px;
  background: rgb(251, 218, 135);
  height: 25px;
  padding-top: 5px;
  padding-right: 10px;
  padding-bottom: 0px;
  padding-left: 10px;
}

#settingsButton {
  position: fixed;
  z-index: 1;
  right: 10px;
  top: 10px;
  border-radius: 5px;
  background-color: hidden;
  color: white;
  font-weight: bold;
  height: 50px;
  width: 50px;
  border-radius: 8px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
}

#settingsButton:hover {
  background-color: rgb(41, 104, 182);
}

#switchSSTButton {
  position: fixed;
  z-index: 1;
  right: 75px;
  top: 10px;
  border-radius: 5px;
  background-color: hidden;
  color: white;
  font-weight: bold;
  height: 50px;
  width: 50px;
  border-radius: 8px;
  padding-top: 5px;
  padding-right: 10px;
  padding-bottom: 5px;
  padding-left: 2px;
}

#switchSSTButton:hover {
  background-color: rgb(41, 104, 182);
}

#loadFileButton {
  position: fixed;
  z-index: 1;
  right: 140px;
  top: 10px;
  border-radius: 5px;
  background-color: hidden;
  color: white;
  font-weight: bold;
  height: 50px;
  width: 50px;
  border-radius: 8px;
  padding-top: 5px;
  padding-right: 10px;
  padding-bottom: 5px;
  padding-left: 2px;
}

#loadFileButton:hover {
  background-color: rgb(41, 104, 182);
}

#saveFileButton {
  position: fixed;
  z-index: 1;
  right: 270px;
  top: 10px;
  border-radius: 5px;
  background-color: hidden;
  color: white;
  font-weight: bold;
  height: 50px;
  width: 50px;
  border-radius: 8px;
  padding-top: 5px;
  padding-right: 10px;
  padding-bottom: 5px;
  padding-left: 2px;
}

#saveFileButton:hover {
  background-color: rgb(41, 104, 182);
}

#massRunButton {
  position: fixed;
  z-index: 1;
  right: 205px;
  top: 10px;
  border-radius: 5px;
  background-color: hidden;
  color: white;
  font-weight: bold;
  height: 50px;
  width: 50px;
  border-radius: 8px;
  padding-top: 5px;
  padding-right: 10px;
  padding-bottom: 5px;
  padding-left: 2px;
}

#massRunButton:hover {
  background-color: rgb(41, 104, 182);
}

#setDefaultPopUp {
  position: fixed;
  z-index: 3;
  opacity: 1;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  background-color: rgb(21, 74, 142);
  text-align: center;
  padding-top: 200px;
}

#setDefaultLabel {
  color: white;
  font-weight: bold;
  font-size: 40px;
}

#setDefaultQ {
  font-size: 20px;
  color: white;
}

#sstDropDown {
  width: 250px;
}

#defaultMessageOffLabel {
  color: white;
  font-size: 18px;
  padding-left: 10px;
}

#messageYesButton {
  width: 125px;
  height: 35px;
  background-color: rgb(47, 161, 32);
  font-size: 18px;
  font-weight: bold;
  color: white;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  border-radius: 0px;
}

#messageYesButton:hover {
  background-color: rgb(22, 79, 15);
}

#messageNoButton {
  width: 125px;
  height: 35px;
  background-color: rgb(204, 33, 33);
  font-size: 18px;
  font-weight: bold;
  color: white;
  text-align: center;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  border-radius: 0px;
}

#messageNoButton:hover {
  background-color: rgb(143, 21, 21);
}

#switchSSTwindowStartUp {
  position: fixed;
  z-index: 3;
  opacity: 1;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  background-color: rgb(21, 74, 142);
  text-align: center;
  padding-top: 200px;
}

#switchSSTwindowRunTime {
  position: fixed;
  z-index: 3;
  opacity: 1;
  top: 80px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  background-color: rgb(41, 104, 182);
  text-align: center;
  padding-top: 50px;
}

#whiteTextLabel {
  color: white;
  font-weight: normal;
  font-size: 18px;
}

#switchSSTdropDownRunTime {
  width: 250px;
}

#switchSSTdropDownStartUp {
  width: 285px;
}

#cancelSwitchButton {
  width: 125px;
  height: 35px;
  background-color: rgb(204, 33, 33);
  font-size: 18px;
  font-weight: bold;
  color: white;
  text-align: center;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  border-radius: 0px;
}

#cancelSwitchButton:hover {
  background-color: rgb(143, 21, 21);
}

#confirmSwitchButton {
  width: 125px;
  height: 35px;
  background-color: rgb(47, 161, 32);
  font-size: 18px;
  font-weight: bold;
  color: white;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  border-radius: 0px;
}

#confirmSwitchButton:hover {
  background-color: rgb(22, 79, 15);
}

#settingsWindow {
  position: fixed;
  z-index: 3;
  opacity: 1;
  top: 80px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  background-color: rgb(41, 104, 182);
  text-align: center;
  padding-top: 30px;
}

#settingsWindowLabel {
  color: white;
  font-weight: bold;
  font-size: 24px;
}

#currentDefaultLabel {
  color: white;
  font-weight: normal;
  font-size: 18px;
}

#currentDefaultTextLabel {
  color: white;
  font-weight: normal;
  font-size: 18px;
}

#changeDefaultLabel {
  color: white;
  font-weight: normal;
  font-size: 18px;
}

#confirmChangeDefaultButton {
  width: 175px;
  height: 35px;
  background-color: rgb(47, 161, 32);
  font-size: 18px;
  font-weight: bold;
  color: white;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  border-radius: 0px;
}

#confirmChangeDefaultButton:hover {
  background-color: rgb(22, 79, 15);
}

#clearDefaultButton {
  width: 175px;
  height: 35px;
  background-color: rgb(204, 33, 33);
  font-size: 18px;
  font-weight: bold;
  color: white;
  text-align: center;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  border-radius: 0px;
}

#clearDefaultButton:hover {
  background-color: rgb(143, 21, 21);
}

span {
  color: red;
  font-size: 30px;
}

#cmdColl {
  float: right;
  font-size: 18px;
  right: 10px;
  position: absolute;
  background-color: rgb(255, 255, 255, 0);
  border: none;
  color: white;
  text-decoration: none;
  outline: none;
}
#cmdColl:hover {
  font-size: 20px;
}

#retColl {
  float: right;
  font-size: 18px;
  right: 10px;
  position: absolute;
  background-color: rgb(255, 255, 255, 0);
  border: none;
  color: white;
  text-decoration: none;
  outline: none;
}

#help {
  float: right;
  right: 28px;
  font-size: 18px;
  position: absolute;
  background-color: rgb(255, 255, 255, 0);
  border: none;
  color: white;
  text-decoration: none;
  outline: none;
}

#retColl:hover,
#help:hover {
  font-size: 20px;
}
input,
button.rng {
  border-radius: 4px;
}
button.rng {
  background-color: rgba(0, 0, 0, 0.3);
  border: none;
  color: white;
  margin-left: 5px;
}
button.rng:hover {
  background-color: rgba(0, 0, 0, 0.5);
}
input#rngIn {
  margin-left: 5px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(41, 104, 182);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}
.slider:after {
  content: "OFF";
  color: white;
  display: block;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  right: 0;
  font-size: 10px;
  font-family: Verdana, sans-serif;
}

input:checked + .slider:after {
  content: "ON";
  color: white;
  display: block;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 40%;
  font-size: 10px;
  font-family: Verdana, sans-serif;
}

.switch input:checked + .slider {
  background-color: rgb(240, 83, 43);
}

/* input:focus + .slider {
    box-shadow: 0 0 1px rgb(240,83,43);
} */

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

#menu .disabled {
  background-color: rgba(131, 127, 127, 0.5);
}
